@font-face {
    font-family: pixel;
    src: url(pixel.ttf);
}


.main-container {
    height: 100%;
    width: 900px;
    margin: 0 auto;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #87CEFA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
   font-family: pixel;
    font-size: 40px;
    text-align: center;
    margin-left: 370px;
    opacity: 0.5

}

body {
    background-image: url("../imgs/background.jpg ")
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.active{
    background-color: black;
}
.board {
    height: 420px;
    width: 420px;
    margin-left: 240px;
    margin-top: 30px;
    border-style: solid;
    border-color: white;
    border-radius: 5px; 
}

.cell {
    width: 140px;
    height: 140px;
    border-color:white;
    border-style: solid;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor:pointer;
    float:left;
    line-height: 140px;
    text-align: center;
    font-family: pixel;
    font-size: 70px;
}
.control {
    font-family: pixel;
    font-size: 40px;
    text-align: center;
    margin-top:40px;
}

.level {
    margin: 0 15px;
    color: lightskyblue;
    cursor: pointer;
}

.not-selected {
    opacity: 0.5;
}

.not-selected:hover {
    opacity:1;
}

.start {
    margin-top: 20px;
    width: 150px;
    height: 100px;
    background-color: #87CEFA;
    line-height: 100px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius:50px;
    -moz-border-radius:20x;
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    opacity:0.5;
}

.restart {
    margin-top: 20px;
    width: 150px;
    height: 100px;
    background-color: #ff0000;
    line-height: 100px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    opacity:0.5;
}
.restart:hover {
    opacity:1;
}

.start:hover {
    opacity:1;
}

.ingame {
    display:none;
    color:lightskyblue;
}

.ingame > p {
    margin:0px;
}

.robot {
    opacity:0.5;
}
